@using STS.Resources
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    ViewBag.Title = @ErrorPages.NotFound;
}
<br />
<br />
Img
<h2 class="text-danger">@ErrorPages.ThisPageIsNotAvailable</h2>
<br />
<br />


