@using STS.Resources.Views
@{
    ViewBag.Title = Locations.LocationsTitle;
}
<br />
<br />
<table id="Locations" class="table table-bordered table-hover ">
    <thead class="thead-dark">
        <tr>
            <th class="text-center"><i class="fas fa-globe-asia"></i></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
