@using STS.Resources.Views
@{
    ViewBag.Title = Shipments.ShipmentsTitle;
}
<br />
<br />
<table id="Shipments" class="table table-striped">
    <thead>
        <tr>
            <th>@Shipments.ShipmentsTitle</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
