
@using System.Threading;
@{
    string CurrentCulture = Thread.CurrentThread.CurrentUICulture.Name;
    string Language = null;
    string LangText = null;
}
@if (CurrentCulture == "en-US")
{
    Language = "Ar";
    LangText = "عربي";
}
else
{
    Language = "En";
    LangText = "English";
}
<li class="nav-item">
    <a class="nav-link" rel="tooltip" title="@LangText" data-placement="bottom" href="/Language/change?Language=@Language&RtnUrl=@Request.Path.ToString()">
        <p>@LangText</p>
    </a>
</li>


