@model System.Web.Mvc.HandleErrorInfo
@using STS.Resources
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    ViewBag.Title = @ErrorPages.Error;
}
<br />
<br />
<div class="text-center py-5">
    <h1>500</h1>
    <h2 class="text-danger">@ErrorPages.AnErrorOccurred</h2>
</div>
<br />
<br />

