@model System.Web.Mvc.HandleErrorInfo
@using STS.Resources
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    ViewBag.Title = ErrorPages.LockedOut;
}
<br />
<br />
Img
<h2 class="text-danger">@ErrorPages.HasBeenLockedOut</h2>
<br />
<br />
