@using STS.Resources.Views
@{
    ViewBag.Title = Account.ForgotPasswordConfirmationTitle;
    Layout = "~/Views/Shared/Account_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @Account.ForgotPasswordConfirmationMessage
    </p>
</div>
	
