@using STS.Resources.Views
@{
    ViewBag.Title = Account.ResetPasswordConfirmationTitle;
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @Account.YourPasswordHasBeenReset @Html.ActionLink(Account.ClickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
